body {
  margin: 0;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  user-select: none;
}

#handle {
  cursor: grab;
}
